* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: dark;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 159, 75);
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.146);
}

.input_section > h2 {
    text-align: center;
    color: rgb(15, 159, 75);
}

.input_section > form > .input {
    margin: 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_section > form > button {
    background-color: rgb(15, 159, 75);
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    transition: .3s ease;
}


.input_section > form > .input > label {
    color: rgb(15, 159, 75);
    font-weight: lighter;
    font-weight: bold;
    background: white;
    position: absolute;
    left: 10px;
    padding: 0 5px;
    transition: .3s ease;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: rgb(15, 159, 75);
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.146);
    position: relative;
}

.search_section > h2 {
    color: rgb(15, 159, 75);
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto .3fr;
    grid-gap: 10px;
    align-items: center;
    position: relative;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
    font-weight: 700;
    background: white;
    padding: 0 5px;
    color: rgb(15, 159, 75);
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid green;
}

.search_section > form > input:focus ~ label,
.search_section > form > input:valid ~ label{
    transition: .3s ease;
    font-size: 12px;
    transform: translateY(-20px);
}

.search_section > form > button {
    background-color: rgb(15, 159, 75);
    color: white;
    align-self: stretch;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.146);
}

.book_shelf > h2 {
    color: rgb(15, 159, 75);
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.146);
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}


.input_section > form > .input input:focus ~ .labels,
.input_section > form > .input input:valid ~ .labels{
    transition: .3s ease;
    transform: translateY(-20px);
    font-size: 12px;
}